.card {
    padding: 0;
    background: #FDFDFD;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.card__image {
    width: 270px;
    height: 151px;
    border-radius: 10px 10px 0 0;
}

.card__element {
    display: flex;
    justify-content: space-between;
    margin: 14px 12px 6px 12px;
}

.card__title {
    max-width: 220px;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.card__buttons {

}

.card__button {
    padding: 0;
    border: none;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
    transition: opacity .2s linear;
    height: 16px;
    width: 16px;
}

.card__button:hover {
    opacity: .6;
    cursor: pointer;
}

.card__button_inactive {
    background: #F9F9F9 url(../../images/icon-saved-inactive.svg) center no-repeat;
    margin: 4px 0 0;
}

.card__button_active {
    background: #F9F9F9 url(../../images/icon-saved-active.svg) center no-repeat;
    margin: 4px 0 0;
}

.card__button_delete {
    width: 16px;
    height: 16px;
}

.card__button_delete:hover {
    background: #F9F9F9 url(../../images/icon-delete.svg) center no-repeat;
}

.card__duration {
    margin: 0 12px 14px 12px;
    color: #a0a0a0;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    .card__image {
        width: 339px;
        height: 190px;
    }

    .card__title {
        max-width: 290px;
    }
}

@media screen and (max-width: 540px) {
    .card__title {
        font-size: 12px;
    }

    .card__image {
        width: 292px;
        height: 168px;
    }
}